.forgot-password {
    margin-top: 0.25rem;
    font-size: .850em;
    float: right;
    cursor: pointer;
}

.login-card {
    width: 450px; 
    padding: 15px; 
    box-shadow: 5px 5px 20px #888888;
}

.logo {
    width: 140px; 
    height: 140px; 
    align-items: center;
}