<div class="card login-card">
    <div class="card-body">
        <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
            <div class="d-flex justify-content-center">
                <img src="assets/logo.png" class="logo">
            </div>
            <div class="form-group mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control"
                    [ngClass]="{ 'is-valid' : username.touched && username.valid, 'is-invalid ': username.touched && username.invalid }"
                    id="username" 
                    name="username" 
                    ngModel 
                    required 
                    #username="ngModel" 
                    placeholder="Username"
                    aria-describedby="username">
                <div *ngIf="username.errors && (username.dirty || username.touched)" class="invalid-feedback">
                    Please enter username.
                </div>
            </div>
            <div class="form-group mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control"
                    [ngClass]="{ 'is-valid' : password.touched && password.valid, 'is-invalid ': password.touched && password.invalid }"
                    id="password" 
                    name="password" 
                    ngModel
                    required 
                    #password="ngModel"
                    placeholder="Password"
                    aria-describedby="password">
                <div *ngIf="password.errors && (password.dirty || password.touched)" class="invalid-feedback">
                    Please enter password.
                </div>
                <a class="forgot-password">Forgot Password?</a>
            </div>
            <div class="d-grid mx-auto btn-sm w-100">
                <button type="submit" class="btn btn-primary mt-4" [disabled]="!loginForm.valid">Login</button>
            </div>
        </form>
        <div class="d-flex justify-content-center">
            <span class="forgot-password mt-5 pt-4">Don't have an account yet? <a class="link-style" (click)="openRegistration()">Register here</a></span>
        </div>
    </div>
</div>