/* You can add global styles to this file, and also import other style files */
.logo {
    width: 140px; 
    height: 140px; 
    align-items: center;
}

.link-style {
    color: #0D6EFD;
    text-decoration: underline;
    cursor: pointer;
    font-size: 13.6px;
}

.forgot-password {
    margin-top: 0.25rem;
    font-size: .850em;
    /* float: right; */
    cursor: pointer;
}